@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white;
}

h1, h2, h3 {
    color: violet;
    margin-bottom: 0;
}

h1 {
    font-family:'Space Grotesk', sans-serif;  
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    gap: 16px;
}

.hero-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 240px;
    background: linear-gradient(to top right, blue, pink)
}

.hero-heading {
    font-size: 120px;
}

.monospace-font {
    font-family: 'JetBrains Mono', monospace;
}